<div class="container">
  <div class="col-md-auto">
    <h1>Kurs u valuti</h1>
    
      <table class="table table-striped table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Redni broj</th>
            <th scope="col">Kupovni</th>
            <th scope="col">Srednji</th>
            <th scope="col">Prodajni</th>
            


          </tr>
        </thead>
        <tbody *ngFor="let kursShow of kursVal">
          <tr>
            <th scope="row">{{kursShow.redni_br}}</th>
            <td>{{kursShow.kupovni}}</td>
            <td>{{kursShow.srednji}}</td>
            <td>{{kursShow.prodajni}}</td>



          </tr>
        </tbody>
      </table>
   
  </div>
</div>