<div class="container">
  <div class="col-md-auto">
    <h1>Racuni lica</h1>
    <table class="table table-striped table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Br racuna</th>
          <th scope="col">Datum otvaranja</th>
          <th scope="col">Klijent</th>

          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let racun of racuni">
        <tr>
          <th scope="row">{{racun.br_racuna}}</th>
          <td>{{racun.datum_otvaranja}}</td>
          <td *ngIf="racun.fizickoLice != null">
            {{racun.fizickoLice.naziv}}
          </td>
          <td *ngIf="racun.pravnoLice != null">
            {{racun.pravnoLice.naziv}}
          </td>
          <td>
            <button class="btn btn-outline-warning" [routerLink]="['/racuni/' + racun.id]">Izmeni</button>
          </td>
          <td>
            <button class="btn btn-outline-danger" (click)="deleteRacun(racun)">Obrisi</button>
          </td>
          <td>
            <button class="btn btn-outline-danger" [routerLink]="['/analitikaPrenos/' + racun.id]">Ukini racun</button>
          </td>
          <td>
            <button class="btn btn-outline-success" [routerLink]="['/izvestaj/' + racun.id]">Izvestaj</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




