<div class="container">
  <div class="col-md-auto">
    <h1>Fizicka lica</h1>
    <table class="table table-striped table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Br racuna</th>
          <th scope="col">Datum otvaranja</th>
          <th scope="col">Klijent</th>
         
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let racunShow of racuni">
        <tr>
          <th scope="row">{{racunShow.br_racuna}}</th>
          <td>{{racunShow.datum_otvaranja}}</td>
          
          <td>
            <button class="btn btn-outline-warning" [routerLink]="['/racuni/' + racunShow.id]">Izmeni</button>
          </td>
          
          <td>
            <button class="btn btn-outline-danger" (click)="deleteRacun(racunShow)">Obrisi</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>




