<div class="row" *ngIf="!drzavaEdit">
  <h1>Dodavanje nove drzave</h1>
<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form #novaDrzavaForm="ngForm" (ngSubmit)="novaDrzavaSubmit(novaDrzavaForm)">
        <div class="form-group">
            <label for="sifra_drzave">Sifra drzave</label>
            <input type="text" id="sifra_drzave" name="sifra_drzave" class="form-control" required ngModel #drzavaSifra="ngModel">
          </div>
      <div class="form-group">
        <label for="naziv">Naziv drzave</label>
        <input type="text" id="naziv" name="naziv" class="form-control" required ngModel #drzavaSifra="ngModel">
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="!novaDrzavaForm.valid">Dodaj</button>
</form>
</div>
</div>


<div class="row" *ngIf="drzavaEdit">
<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<h1>Uredjivanje drzave</h1>
<form #editDrzavaForm="ngForm" (ngSubmit)="drzavaEdt()">
    <div class="form-group">
        <label for="naziv">Sifra Drzave</label>
        <input type="text" id="sifra" name="sifra" class="form-control" required ngModel #drzavaSifra="ngModel" [(ngModel)]="drzavaEdit.sifra_drzave">
        <span class="help-block" *ngIf="!drzavaSifra.valid && drzavaSifra.touched">Sifra drzave je obavezna!</span>
      </div>
    
  <div class="form-group">
    <label for="naziv">Naziv drzave</label>
    <input type="text" id="naziv" name="naziv" class="form-control" required ngModel #dzavaNaziv="ngModel" [(ngModel)]="drzavaEdit.naziv">
    <span class="help-block" *ngIf="!dzavaNaziv.valid && dzavaNaziv.touched">Naziv drzave je obavezan!</span>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="!editDrzavaForm.valid">Izmeni</button>
</form>
</div>
</div>