<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink='/drzave'>Drzave</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/naseljenaMesta'>Naseljena mesta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/klijent'>Dodavanje klijenta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/klijenti'>Klijenti</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/racuni'>Racuni</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Nalozi
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Nalog za uplatu</a>
            <a class="dropdown-item" routerLink='/nalogZaIsplatu'>Nalog za isplatu</a>
          </div>
        </li>
    </ul>
</nav>
