<div class="container">
  <div class="col-md-auto">
    <h1>Fizicka lica</h1>
    <table class="table table-striped table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Ime i prezime</th>
          <th scope="col">Email</th>
          <th scope="col">Adresa</th>
          <th scope="col">Broj telefona</th>
          <th scope="col">Broj licne karte</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngFor="let klijent of klijentiFizicka">
        <tr>
          <th scope="row">{{klijent?.naziv}}</th>
          <td>{{klijent?.email}}</td>
          <td>{{klijent?.adresa}}</td>
          <td>{{klijent?.br_telefona}}</td>
          <td>{{klijent?.br_licne_karte}}</td>
          <td>
            <button class="btn btn-outline-warning" [routerLink]="['klijent/fizicko/' + klijent.id]">Izmeni</button>
          </td>
          <td>
            <button class="btn btn-outline-success" [routerLink]="['/racuni-edit/' + klijent.id]">Dodaj racun</button>
          </td>
          <td>
            <button class="btn btn-outline-danger" (click)="obrisiFizicko(klijent.id)">Obrisi</button>
          </td>
        </tr>
      </tbody>
    </table>
    <h1>Pravna Lica</h1>
    <table class="table table-striped table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Naziv</th>
            <th scope="col">Email</th>
            <th scope="col">Adresa</th>
            <th scope="col">Broj telefona</th>
            <th scope="col">PIB</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody *ngFor="let klijent of klijentiPravna">
          <tr>
            <th scope="row">{{klijent?.naziv}}</th>
            <td>{{klijent?.email}}</td>
            <td>{{klijent?.adresa}}</td>
            <td>{{klijent?.br_telefona}}</td>
            <td>{{klijent?.pib}}</td>
            <td>
              <button class="btn btn-outline-warning" [routerLink]="['klijent/pravno/' + klijent.id]">Izmeni</button>
            </td>
            <td>
              <button class="btn btn-outline-success" [routerLink]="['/racuni-edit/' + klijent.id]">Dodaj racun</button>
            </td>
            <td>
              <button class="btn btn-outline-danger" (click)="obrisiPravno(klijent.id)">Obrisi</button>
            </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
