<div class="row" *ngIf="!racunEdit">
  <h1>Dodavanje novog racuna</h1>
<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form #noviRacunForm="ngForm" (ngSubmit)="noviRacunSubmit(noviRacunForm)">
        <div class="form-group">
            <label for="br_racuna">Br racuna</label>
            <input type="text" id="br_racuna" name="br_racuna" class="form-control" required ngModel #brRacuna="ngModel">
          </div>
      <div class="form-group">
        <label for="naziv">Datum otvaranja</label>
        <input type="date"  id="datum" name="datum_otvaranja"  class="form-control"   required ngModel #datumOtvaranja="ngModel">
      </div>
      <div class="form-group">
        <label for="valuta">Valuta</label>
        <form>
          <select [(ngModel)]="noviRacun.valute" id="valuta" name="valuta" class="form-control">
            <option *ngFor="let valutaShow of valute"
            [ngValue]="valutaShow">
            {{valutaShow.naziv}}</option>
          </select>
          <p>SELEKTOVANO: {{valuta}}</p>
        </form>
      </div>


      <button type="submit" class="button" [disabled]="!noviRacunForm.valid">Dodaj</button>
</form>
</div>
</div>


<div class="row" *ngIf="racunEdit">
<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
<h1>Uredjivanje racuna</h1>
<form #editRacun="ngForm" (ngSubmit)="racunEdt()">
    <div class="form-group">
        <label for="naziv">Br racuna</label>
        <input type="text" id="brRacuna" name="br_racuna" class="form-control" required ngModel #brRacuna="ngModel" [(ngModel)]="racunEdit.br_racuna">
        <span class="help-block" *ngIf="!brRacuna.valid && brRacuna.touched">Br racuna je obavezan!</span>
      </div>

  <div class="form-group">
    <label for="naziv">Datum otvaranja</label>
    <input type="date"  id="datumOtvaranja" name="datum_otvaranja" class="form-control" required ngModel #datumOtvaranja="ngModel" [(ngModel)]="racunEdit.datum_otvaranja">
    <span class="help-block" *ngIf="!datumOtvaranja.valid && datumOtvaranja.touched">Datum otvaranja je obavezan!</span>
  </div>

  <button type="submit" class="button" [disabled]="!editRacun.valid">Izmeni</button>
</form>
</div>
</div>
